<!DOCTYPE html>
<html>
<head>
	<title>Edit Questionnaire</title>
	<script src="/javascripts/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
	<div class="row">
		<div class="container">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">
			        Everest Minds Qs
			      </a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li><a href="/new">New</a></li>
			      <li><a href="/index">Index</a></li> 
			    </ul>
			  </div>
			</nav>
		</div>
	</div>
</body>
</html>