<!DOCTYPE html>
<html>
<head>
	<title>All Questionnaires</title>
	<script src="/javascripts/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<script>
		var app = angular.module('qindex', []);

		app.controller('mainCtrl', function ($scope, $http) {
			
			$scope.qs = [];
			console.log('HERE');
			// $scope.qs = <%= q %>
			$http.get("/qs")
			    .then(function(response) {
			    	console.log(response.data);
			        $scope.qs = response.data;
			    });

		});
	</script>

</head>
<body style="background: url('/images/signin.jpg');" ng-app="qindex">
	<div class="container" ng-controller="mainCtrl">
		<div class="row">
			<div class="col-lg-8 consolel-md-offset-4">
				<h1>HERE</h1>
				<ul>
					<li ng-repeat="q in qs"><a href="/view/{{q._id}}">{{q.title}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>