<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h2><%= message %></h2>
	<form method="post" action="/signup">
		<input type="text" name="username" placeholder="Username"><br>
		<input type="password" name="password" placeholder="password"><br>
		<input type="submit" name="submit">
	</form>
</body>
</html>