<!DOCTYPE html>
<html>
<head>
	<title>View</title>
	<script src="/javascripts/scripts.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2><%= questionnaire.title %></h2>
		<h3><%= questionnaire.description %></h3>
		<% for(var i = 0; i < questions.length; i++) {%>
			<h1><%= questions[i] %></h1>
		<% } %>

	</div>
</body>
</html>